body {
  background-color: #F4EFE6;
  font-family: Lato, sans-serif;
  font-weight:100;
  font-size: 16px;
}

header {
  margin:30px;
}

h1 {
  font-weight: 400px;
  font-size: 36px;
  font-family: Playfair Display, serif;
  line-height: 1.5;
  color:#1F1A17;
  text-align:center;
}

form {
  padding: 30px;
  margin-bottom: 10px; 
  background-color: #F7F4EE;
  display: flex;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

footer {
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
  font-family: Playfair Display, serif;
}

a {
  color:#4A77B5;
}

.container {
  margin:120px auto;
  max-width: 600px;
}

.prompt-form {
  padding: 16px;
  border: 1px solid;
  width: 80%;
  border-radius: 50px;
  line-height: 20px;
  color: #1F1A17;
  border-color: #4A77B5;
  font-family: Playfair Display, serif;
  font-size: 16px;
}

.submit-button {
  margin-left: 10px;
  background: #4A77B5;
  color: #FBF8F2;
  border: none;
  width: 150px;
  border-radius: 50px;
  padding: 14px 24px;
  font-size: 16px;
  font-family: Playfair Display, serif;
}

.poem-display {
  background-color:#F7F4EE;
  border-radius: 5px;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #8B2E3C;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
}

.box {
  border-radius: 5px; 
}

.heading {
  font-weight: 200;
}

